## Get streamflow data

In [16]:
from pyndat import Pyndat as pn
import pandas as pd

In [13]:
station_1 = pn.daily_data(site='11185500', start_date="2017-09-01", end_date='2023-08-30')
station_1

,Datetime,USGS_flow,variable,USGS_ID,measurement_unit,qualifiers
0,2017-09-01 00:00:00+00:00,11185500,streamflow,"=""A""",ft³/s,472.0
1,2017-09-02 00:00:00+00:00,11185500,streamflow,"=""A""",ft³/s,495.0
2,2017-09-03 00:00:00+00:00,11185500,streamflow,"=""A""",ft³/s,473.0
3,2017-09-04 00:00:00+00:00,11185500,streamflow,"=""A""",ft³/s,480.0
4,2017-09-05 00:00:00+00:00,11185500,streamflow,"=""A""",ft³/s,522.0
...,...,...,...,...,...,...
2185,2023-08-26 00:00:00+00:00,11185500,streamflow,"=""A""",ft³/s,558.0
2186,2023-08-27 00:00:00+00:00,11185500,streamflow,"=""A""",ft³/s,556.0
2187,2023-08-28 00:00:00+00:00,11185500,streamflow,"=""A""",ft³/s,558.0
2188,2023-08-29 00:00:00+00:00,11185500,streamflow,"=""A""",ft³/s,561.0
2189,2023-08-30 00:00:00+00:00,11185500,streamflow,"=""A""",ft³/s,556.0

In [14]:
station_2 = pn.daily_data(site='11186000', start_date="2017-09-01", end_date='2023-08-30')
station_2

,Datetime,USGS_flow,variable,USGS_ID,measurement_unit,qualifiers
0,2017-09-01 00:00:00+00:00,11186000,streamflow,"=""A""",ft³/s,142.0
1,2017-09-02 00:00:00+00:00,11186000,streamflow,"=""A""",ft³/s,129.0
2,2017-09-03 00:00:00+00:00,11186000,streamflow,"=""A""",ft³/s,115.0
3,2017-09-04 00:00:00+00:00,11186000,streamflow,"=""A""",ft³/s,116.0
4,2017-09-05 00:00:00+00:00,11186000,streamflow,"=""A""",ft³/s,111.0
...,...,...,...,...,...,...
2185,2023-08-26 00:00:00+00:00,11186000,streamflow,"=""A""",ft³/s,918.0
2186,2023-08-27 00:00:00+00:00,11186000,streamflow,"=""A""",ft³/s,821.0
2187,2023-08-28 00:00:00+00:00,11186000,streamflow,"=""A""",ft³/s,712.0
2188,2023-08-29 00:00:00+00:00,11186000,streamflow,"=""A""",ft³/s,633.0
2189,2023-08-30 00:00:00+00:00,11186000,streamflow,"=""A""",ft³/s,577.0

In [39]:
swe_1.dtypes

Datetime                 datetime64[ns, UTC]
Snow water equivalent                float64
dtype: object

In [38]:
station_2.dtypes

Datetime            datetime64[ns, UTC]
USGS_flow                        object
variable                         object
USGS_ID                          object
measurement_unit                 object
qualifiers                      float64
dtype: object

In [27]:
swe_1 = pd.read_csv('/home/snaserneisary/01.projects/05.summer_institute/SI24_GOES-SWE/02.input/02.snotel_data/CSV-SWE.csv')
swe_1.rename(columns={'date': 'Datetime'}, inplace=True)
swe_1.drop(columns=['Unnamed: 0'], inplace=True)
swe_1['Datetime'] = pd.to_datetime(swe_1['Datetime'])
swe_1

                      Datetime  Snow water equivalent
0    2017-11-17 13:00:00+00:00                   1.40
1    2017-11-18 13:00:00+00:00                   1.19
2    2017-11-19 13:00:00+00:00                   0.69
3    2017-11-20 13:00:00+00:00                   0.48
4    2017-11-21 13:00:00+00:00                   0.98
...                        ...                    ...
1516 2023-06-25 12:00:00+00:00                   0.08
1517 2023-06-26 12:00:00+00:00                   0.14
1518 2023-06-27 12:00:00+00:00                   0.17
1519 2023-06-28 12:00:00+00:00                   0.08
1520 2023-07-24 12:00:00+00:00                   0.02

[1521 rows x 2 columns]

In [40]:
swe_streamflow_1 = {}
swe_streamflow_1[1] = pd.merge(swe_1, station_1, on='Datetime')

In [41]:
pd.merge(swe_1, station_1, on='Datetime')

Empty DataFrame
Columns: [Datetime, Snow water equivalent, USGS_flow, variable, USGS_ID, measurement_unit, qualifiers]
Index: []

In [ ]:
%%time



# Calculate the number of subplots needed based on the number of unique stations.
n_subplots = len(station_list)
# Determine the number of columns in the subplot grid by taking the ceiling of the square root of 'n_subplots'.
n_cols = int(math.ceil(math.sqrt(n_subplots)))
# Determine the number of rows in the subplot grid by dividing 'n_subplots' by 'n_cols' and taking the ceiling of that.
n_rows = int(math.ceil(n_subplots / n_cols))
# Set the figure size for the subplots.
figsize = (18, 12)
# Create a grid of subplots with specified number of rows and columns and figure size.
fig, axes = plt.subplots(n_rows, n_cols, figsize=figsize, dpi=300)
# Flatten the axes array for easier iteration.
axes = axes.flatten()

# Iterate over the axes to plot the data for each station.
for i, ax in enumerate(axes):
    if i < n_subplots:
        # Extract the data for the current station from the dataset.
        temp_df_1 = dataset[dataset.station_id == station_list[i]]
        # Set 'datetime' as the index for plotting.
        temp_df_2 = temp_df_1.set_index('datetime')
        # Plot the 'flow_cfs' data on the primary y-axis.
        ax.plot(temp_df_2.index, temp_df_2['flow_cfs'])
        # Set the x-axis limits from the first to the last year of data.
        start_year = pd.to_datetime(f'{temp_df_1.datetime.dt.year.min()}-01-01')
        end_year = pd.to_datetime(f'{temp_df_1.datetime.dt.year.max()}-12-31')
        ax.set_xlim(start_year, end_year)
        # Rotate x-axis labels for better readability.
        labels = ax.get_xticklabels()
        ax.set_xticklabels(labels, rotation=45)

        # Create a second y-axis for the precipitation data.
        ax2 = ax.twinx()
        # Plot the 'precip(mm)' data as a bar graph on the secondary y-axis.
        ax2.bar(temp_df_2.index, temp_df_2['precip(mm)'], label='Inverted', color='red', width=25)
        # Set the y-axis limits for precipitation, flipping the axis to make bars grow downward.
        ax2.set_ylim(max(temp_df_2['precip(mm)']) + 1000, 0)
        # Set the label for the secondary y-axis.
        ax2.set_ylabel('Precipitation (mm)')
        # Define custom ticks for the secondary y-axis.
        ax2.set_yticks(np.arange(0, max(temp_df_2['precip(mm)']), 250))

        # Set the title of the subplot to the station ID.
        ax.set_title(f'{station_list[i]}')
        # Set the x-axis label for subplots in the last row.
        if i // n_cols == n_rows - 1:
            ax.set_xlabel('Datetime (day)')

        # Set the y-axis label for subplots in the first column.
        if i % n_cols == 0:
            ax.set_ylabel('Streamflow (cfs)')
    else:
        # Hide any unused axes.
        ax.axis('off')

# Adjust layout to prevent overlapping elements.
plt.tight_layout()
# Uncomment the line below to save the figure to a file.
# plt.savefig(f'{save_path}scatter_annual_drought_number.png')
# Display the plot.
plt.show()